jupyter
matplotlib
numpy==1.19.5
pandas
ramp-workflow
scikit-learn
osfclient
# needed for provided starting kits
statsmodels==0.12.1
keras==2.4.3
tensorflow==2.4.0
# only used for notebooks explaining to professors
ipython-autotime
meteostat
psutil
plotly
tqdm
geopy
msedge-selenium-tools
selenium
xlrd