jupyter
matplotlib
numpy==1.19.5
pandas
ramp-workflow
scikit-learn
osfclient
# needed for provided starting kits
statsmodels==0.12.1
keras==2.4.3
# only used for notebooks explaining to professors
ipython-autotime
meteostat
plotly
tqdm
geopy
msedge-selenium-tools
selenium